# This is a sample configuration
# RENAME THIS FILE TO configuration.txt to use it with the Python file

[settings]
search_query: yourSearchTerm
# Leave field below empty to search with all languages
tweet_language:
retweeting_enabled: False
max_tweets_to_fetch: 150
time_between_retweets: 600
max_age_in_minutes: 60

# Create your app on http://apps.twitter.com
[twitter]
consumer_key: your_value_here
consumer_secret: your_value_here
access_token: your_value_here
access_token_secret: your_value_here